body{
    margin: 0px;
}
/*use header for 44px margin-top */
.fixed_header{
    position: fixed;
    top: 0%;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: #00007f;
    padding: 10px;
}
.fixed_header .logo{
    font-size: 20px;
    padding: 0 20px 0 20px;
}
.fixed_header .function{
    float: right;
    padding: 0 20px 0 0;
}
.fixed_header .function a{
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: #808080;
    padding-left: 5px;
}
.fixed_header a{
    font-weight: normal;
    color: yellow;
}

