body {
    margin: 0px;
}

.content1{
}
.article{
    margin: 0px 20% 0px 0px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #c0c0c0;
}
.article div{
    margin: 0px;
    padding: 20px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #c0c0c0;
}
.article p{
    margin: 0px;
    width: 100%;
}
.article .name{
    font-size: 18px;
    color: blue;
}

.friends{
    float: right;
    width: 20%;
    text-align: center;
}
.friends h2{
    margin: 5px 0;
}
.border{
    border-style: solid;
    border-width: 1px;
    width: 100%;
}
.time{
    text-align: right;
    float: right;
}
.it{
    font-style: italic;    
}
