h1 {
    margin: 0px;
}

body {
}

.content{
    background-color:#cfcfff;
    margin: 44px 0 0 0;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #7f7fff;
}
.content div{
    margin: 0px;
    padding: 3px 10px;
}

.add_friend p, .delete_friend p{
    margin: 0px;
    padding: 0px;
}
.add_friend span, .delete_friend span{
    padding: 0 20px 0 0;
}
